<nz-card [nzBordered]="false" >
  <div nz-row>
    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info">
      <span class="text-grey-dark">Shares</span>
      <span class="d-block display-2"
      >{{fund?.shares | number:'1.2-2'}}</span>
      <em></em>
    </div>
    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info" >
      <div>
        <span class="text-grey-dark">Profit</span>
        <span class="d-block display-2"
              [class.red]="fund?.profitUsd < 0"
              [class.green]="fund?.profitUsd > 0"
              nz-tooltip [nzTitle]="(fund?.profitCzk | number:'1.2-2') + ' Kč'" nzPlacement="bottom"
        >
          $ {{fund?.profitUsd | number:'1.2-2'}}
        </span>
      </div>
      <em></em>
    </div>
    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info">
      <span class="text-grey-dark">Assets</span>
      <span class="d-block display-2"
            nz-tooltip [nzTitle]="(fund?.assetsCzk | number:'1.2-2') + ' Kč'" nzPlacement="bottom"
      >$ {{fund?.assetsUsd | number:'1.2-2'}}</span>
      <em></em>
    </div>
  </div>
</nz-card>
