<div class="container">

<nz-page-header class="header" [nzTitle]="'Funds'">

  <nz-page-header-extra>
    <img src="./assets/money-bag.png" alt="Users" class="sub-logo" />
  </nz-page-header-extra>

  <nz-page-header-content>

    <div class="wrap">
      <div class="content">
        <div class="content">
          <p> Balances of our funds</p>
          <p class="content-link">
            <a class="d-flex pr-lg" (click)="refreshData()">
              <i class="fas fa-sync-alt"></i>Refresh
            </a>
          </p>
        </div>
      </div>
    </div>

  </nz-page-header-content>

</nz-page-header>

<div nz-row [nzGutter]="24" class="mb-lg">

  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="6" *ngIf="_loading">
    <nx-fund-overview-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-overview-card>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="6" *ngIf="_loading">
    <nx-fund-overview-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-overview-card>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="6" *ngIf="_loading">
    <nx-fund-overview-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-overview-card>
  </div>


  <div class="fund-card" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="6" *ngFor="let fund of _funds">

    <nx-fund-overview-card [bordered]="true" [title]="fund.fund.displayName"
                  [total]="'$ ' + (fund.amountUsd | number:'1.0-0')"
                  [totalNumber]="fund.amountUsd"
                  contentHeight="124px" [action]="action1" [footer]="footer1"
                  [isSelected]="_selectedFund == fund" (click)="selectFund(fund)"
                  [diff]="fund.amountUsdDiff"
    >

      <ng-template #action1>
        <nz-tooltip [nzTitle]="fund.fund.description">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>

      <nx-trend style="margin-top:2px;">
        <div class="performance-row">
          CZK
          <span class="pl-sm performance-number">
          {{fund.amountCzk | number:'1.0-0'}}
          </span>
        </div>
        <div *ngIf="fund.amountCzkDiff"
             class="diff"
             [class.profit]="fund.amountCzkDiff > 0"
             [class.loss]="fund.amountCzkDiff < 0"
        >
          <div><span *ngIf="fund.amountCzkDiff > 0">+</span>{{fund.amountCzkDiff | number:'1.2-2'}}</div>
          <div style="margin-left: 10px">{{abs(fund.amountCzkDiff) / fund.amountCzk * 100 | number:'1.2-2'}}%</div>
        </div>
      </nx-trend>

      <nx-trend>
        <div class="performance-row">
          BTC
          <span class="pl-sm performance-number">
          {{fund.amountBtc | number:'1.2-2'}}
          </span>
        </div>
        <div *ngIf="fund.amountBtcDiff"
             class="diff"
             [class.profit]="fund.amountBtcDiff > 0"
             [class.loss]="fund.amountBtcDiff < 0"
        >
          <div><span *ngIf="fund.amountBtcDiff > 0">+</span>{{fund.amountBtcDiff | number:'1.2-4'}}</div>
          <div style="margin-left: 10px">{{abs(fund.amountBtcDiff) / fund.amountBtc * 100 | number:'1.2-2'}}%</div>
        </div>
      </nx-trend>

      <nx-trend>
        <div class="performance-row">
          Shares
          <span class="pl-sm performance-number">
          {{fund.shares | number:'1.0-0'}}
          </span>
        </div>
      </nx-trend>

      <hr/>

      <nx-trend>
        <div class="performance-row">
          BTC only
          <span class="pl-sm performance-number">
          {{getBtcOnlyForFund(fund) | number:'1.2-2'}}
          </span>
        </div>
      </nx-trend>

      <nx-trend>
        <div class="performance-row">
          BTC ratio
          <span class="pl-sm performance-number">
          {{getBtcRatioForFund(fund) | number:'1.2-2'}}%
          </span>
        </div>
      </nx-trend>

      <ng-template #footer1>

      </ng-template>

    </nx-fund-overview-card>
  </div>


</div>

<div *ngIf="_selectedFund" class="balances">
  <div *ngFor="let balance of sortBalances(_selectedFund.balances)"
    class="balance-item"
  >
    <nz-card
              [nzBodyStyle]="{padding: '0'}"
              [nzTitle]="extraTemplate"
              [nzBordered]="false"
              class="mt-lg"
              [nzHoverable]="false"
    >
      <nz-list nzSize="small" class="exchange-balance">
        <nz-list-item>
          <div class="amount-row">
            <span>USD</span>
            <span class="amount-number">
            {{balance.amountUsd | number:'1.0-0'}}
            </span>
          </div>
        </nz-list-item>
        <nz-list-item>
          <div class="amount-row">
            <span>CZK</span>
            <span class="amount-number">
            {{balance.amountCzk | number:'1.0-0'}}
            </span>
          </div>
        </nz-list-item>
        <nz-list-item>
          <div class="amount-row">
            <span>BTC</span>
            <span class="amount-number">
            {{balance.amountBtc | number:'1.2-4'}}
            </span>
          </div>
        </nz-list-item>
        <nz-list-item>
          <div class="amount-row">
            <span>Shares</span>
            <span class="amount-number">
            {{balance.shares | number:'1.0-0'}}
            </span>
          </div>
        </nz-list-item>
        <hr/>
        <nz-list-item>
          <div class="amount-row">
            <span>BTC only</span>
            <span class="amount-number">
            {{getBtcOnly(balance.balances) | number:'1.2-4'}}
            </span>
          </div>
        </nz-list-item>
        <nz-list-item>
          <div class="amount-row">
            <span>BTC ratio</span>
            <span class="amount-number">
            {{getBtcRatio(balance) * 100 | number:'1.2-2'}}%
            </span>
          </div>
        </nz-list-item>
        <hr/>
      </nz-list>
      <div>
        <nx-fund-balance [exchangeName]="balance.exchangeName" [data]="balance.balances"></nx-fund-balance>
      </div>
    </nz-card>

    <ng-template #extraTemplate>
      <strong>{{balance.exchangeName}}</strong>
      <span class="balance-desc">{{balance.exchangeDisplayName}}</span>
    </ng-template>

  </div>
</div>

</div>
