<nz-layout class="full-height">
  <nz-header class="header">
    <div class="row">

      <div class="logo">
        <a [routerLink]="['/']">
          <img [class.collapsed]="_isCollapsed" src="./assets/logo-full.svg" alt="Nexus logo" style="max-height:28px;" />
          <img [class.collapsed]="!_isCollapsed" src="./assets/logo.svg" alt="Nexus logo" style="max-height:28px;margin-left:18px;margin-right: 18px;" />
        </a>
      </div>

      <div class="trigger-container">
        <i
          class="trigger"
          nz-icon
          [type]="_isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="_isCollapsed = !_isCollapsed"
        ></i>
      </div>
      <div
        class="auth-button"
        [class.auth-button-not-collapsed]="!_isCollapsed"
        *ngIf="!_isAuthenticated" (click)="auth.login()">
        Login
        <i
          nz-icon
          type="login"
        ></i>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider class="menu-container" *ngIf="!_isCollapsed" [@menuAnimation]>
      <div class="menu-container-inner">

        <nx-user-head class="menu-head"></nx-user-head>
        <nx-navigation-menu class="menu-content"></nx-navigation-menu>

      </div>
    </nz-sider>

    <nz-content class="content" [class.content-collapsed]="_isCollapsed">
      <!--<nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
        {{ _userData | json }}
      </div>-->
      <router-outlet></router-outlet>
    </nz-content>

<!--    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>-->

  </nz-layout>
</nz-layout>
