@import "../../../theme";

.header {
  padding: 0;
  background-color: @primary-color;
  color: @heading-color-dark;
}

.trigger {
  font-size: 18px;
  line-height: 32px;
  padding: 2px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.trigger:hover {
  background-color: rgba(255,255,255,.2)!important;
}

.auth-button {
  margin: 15px 15px 15px auto;

  font-size: 18px;
  line-height: 24px;
  padding: 4px 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.auth-button:hover {
  background-color: rgba(255,255,255,.2)!important;
}

.menu-container {
  background-color: @component-background;
  border-right: 1px solid #e8e8e8;
}

.menu-content {
  height: auto !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 32px;
  width: 32px;
  background: rgba(0, 0, 0, 0.2);
  margin: 16px;
}

.full-height {
  height: 100%;
}

.ant-menu {
  height: 100%;
}
