<nz-layout class="full-height">
  <nz-header class="header">
    <div class="row">
      <div class="logo"></div>
      <div class="trigger-container">
        <i
          class="trigger"
          nz-icon
          [type]="_isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="_isCollapsed = !_isCollapsed"
        ></i>
      </div>
      <div class="auth-button" *ngIf="!_isAuthenticated" (click)="auth.login()">
        Login
        <i
          nz-icon
          type="login"
        ></i>
      </div>
<!--      <div class="auth-button" *ngIf="_isAuthenticated" (click)="auth.logout()">
        Logout
        <i
          nz-icon
          type="logout"
        ></i>
      </div>-->
    </div>
  </nz-header>

  <nz-layout>
    <nz-sider class="menu-container" *ngIf="!_isCollapsed">

      <nx-user-head></nx-user-head>

      <ul class="menu-content" nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="_isCollapsed">

        <li nz-submenu>
          <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>

        <li nzDisabled>
          <span>Company</span>
        </li>

        <li nz-submenu>
          <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
        </li>
      </ul>
    </nz-sider>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
        {{ _userData | json }}
      </div>
    </nz-content>
<!--    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>-->
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
