<nz-card [nzBordered]="false" [nzLoading]="loading" >
  <div nz-row>
    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info" >
      <div>
        <span class="text-grey-dark">Total Profit</span>
        <span class="d-block display-2"
              [class.red]="currentPortfolio?.totalProfitUsd < 0"
              [class.green]="currentPortfolio?.totalProfitUsd > 0"
              nz-tooltip [nzTitle]="(currentPortfolio?.totalProfitCzk | number:'1.2-2') + ' Kč'" nzPlacement="bottom"
        >
          $ {{currentPortfolio?.totalProfitUsd | number:'1.2-2'}}
        </span>
      </div>
      <em></em>
    </div>
   <!-- <div nz-col [nzXs]="18" [nzSm]="6" class="header-info" >
      <div>
        <span class="text-grey-dark">Total Profit (CZK)</span>
        <span class="d-block display-2"
              [class.red]="_currentPortfolio?.totalProfitCzk < 0"
              [class.green]="_currentPortfolio?.totalProfitCzk > 0">
          {{_currentPortfolio?.totalProfitCzk | number:'1.2-2'}} Kč
        </span>
      </div>
      <em></em>
    </div>-->
    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info">
      <span class="text-grey-dark">Total Assets</span>
      <span class="d-block display-2"
            nz-tooltip [nzTitle]="(currentPortfolio?.totalAssetsCzk | number:'1.2-2') + ' Kč'" nzPlacement="bottom"
      >$ {{currentPortfolio?.totalAssetsUsd | number:'1.2-2'}}</span>
      <em></em>
    </div>
    <!--<div nz-col [nzXs]="18" [nzSm]="6" class="header-info">
      <span class="text-grey-dark">Total Assets (CZK)</span>
      <span class="d-block display-2">{{_currentPortfolio?.totalAssetsCzk | number:'1.2-2'}} Kč</span>
      <em></em>
    </div>-->
  </div>
</nz-card>


<nz-tabset nzTabPosition="top" [nzType]="'line'" [nzShowPagination]="false" class="funds">
  <nz-tab *ngFor="let info of currentPortfolio?.activeFundsInfo" [nzTitle]="info.fund.displayName">
    <nx-portfolio-fund [fund]="info"></nx-portfolio-fund>
  </nz-tab>
</nz-tabset>


