<nz-card *ngIf="ticksBalance" [nzLoading]="loading"
         [nzBordered]="false"
         [nzBodyStyle]="{'padding': '10px 30px 10px 0'}"
         class="mt-lg chart-wrapper">
  <div class="chart">

    <ngx-charts-area-chart
      *ngIf="_selectedChart === 'balance'"
      [scheme]="_colorSchemeBalance"
      [results]="_chartDataBalance"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      [yAxisLabel]="'Balance (' + currency.getCurrencyShortName() + ')'"
      [autoScale]="true"
      [timeline]="true"
      [curve]="_curveBalance"
    >

      <ng-template #seriesTooltipTemplate let-model="model">

        <div>
          {{model[0].name | date:'fullDate'}}
          <div>
            <span>{{model[0].series}}</span>
          </div>
          <div>
            <span class="chart-value-info">${{model[0].valueUsd | number:'1.0-0'}}</span>
            <span class="chart-value-info">{{model[0].valueBtc | number:'1.4-4'}} BTC</span>
            <span>{{model[0].valueCzk | number:'1.0-0'}} CZK</span>
          </div>

          <div>
            <span>{{model[1].series}}</span>
          </div>
          <div>
            <span class="chart-value-info">${{model[1].valueUsd | number:'1.0-0'}}</span>
            <span class="chart-value-info">{{model[1].valueBtc | number:'1.4-4'}} BTC</span>
            <span>{{model[1].valueCzk | number:'1.0-0'}} CZK</span>
          </div>
        </div>

      </ng-template>

    </ngx-charts-area-chart>

    <ngx-charts-area-chart
      *ngIf="_selectedChart === 'profit'"
      [scheme]="_colorSchemeProfit"
      [results]="_chartDataProfit"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      [yAxisLabel]="'Profit (' + currency.getCurrencyShortName() + ')'"
      [autoScale]="true"
      [timeline]="true"
      [baseValue]="0"
      [curve]="_curveBalance"
    >

      <ng-template #seriesTooltipTemplate let-model="model">

        <div>
          {{model[0].name | date:'fullDate'}}
          <div>
            <span>{{model[0].series}}</span>
          </div>
          <div>
            ${{model[0].valueUsd | number:'1.0-0'}}
          </div>
          <div>
            {{model[0].valueBtc | number:'1.4-4'}} BTC
          </div>
          <div>
            {{model[0].valueCzk | number:'1.0-0'}} CZK
          </div>
        </div>

      </ng-template>

    </ngx-charts-area-chart>



  </div>

  <div class="chart-selector">
    <nz-radio-group [(ngModel)]="_selectedChart" [nzButtonStyle]="'solid'">
      <label nz-radio-button nzValue="balance">Balance</label>
      <label nz-radio-button nzValue="profit">Profit</label>
    </nz-radio-group>
  </div>
</nz-card>
