<nz-card *ngIf="ticks" [nzLoading]="loading"
         [nzBordered]="false"
         [nzBodyStyle]="{'padding': '10px 30px 10px 0'}"
         class="mt-lg chart-wrapper">
  <div class="chart">

    <ngx-charts-area-chart
      [scheme]="_colorScheme"
      [results]="_chartData"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      yAxisLabel="Balance (USD)"
      [autoScale]="true"
      [timeline]="false"
    >

      <!--
            <ng-template #tooltipTemplate let-model="model">
              {{model | json}}
            </ng-template>
      -->

      <ng-template #seriesTooltipTemplate let-model="model">

        <div *ngIf="model.length == 1">
          {{model[0].name | date:'fullDate'}}
          <div>
            <span>{{model[0].series}}</span>
          </div>
          <div>
            ${{model[0].valueUsd | number:'1.0-0'}}
          </div>
          <div>
            {{model[0].valueBtc | number:'1.4-4'}} BTC
          </div>
          <div>
            {{model[0].valueCzk | number:'1.0-0'}} CZK
          </div>
        </div>

      </ng-template>

    </ngx-charts-area-chart>

  </div>
</nz-card>
