<nz-page-header [title]="'Clients'">
  Clients of the company
  <div class="d-flex pt-md">
    <a class="d-flex pr-lg" (click)="refreshData()">
      <i class="fas fa-sync-alt"></i>Refresh
    </a>
    <a class="d-flex pr-lg" (click)="showCreateClient()">
      <i class="fas fa-user-plus"></i>New client
    </a>
  </div>
</nz-page-header>

<nz-spin *ngIf="_loading" [nzSize]="'large'"></nz-spin>

<nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let portfolio of _data" [nzHeader]="clientHeader">

    <ng-template #clientHeader>
      {{getClientDisplay(portfolio.client)}}
      <nz-tag *ngFor="let role of portfolio.client.roles">
        {{role}}
      </nz-tag>
    </ng-template>

    <div>

      <div class="buttons">
        <button nz-button nzType="default" (click)="showEditProfile(portfolio)">
          <i class="anticon anticon-edit"></i>
          Edit profile
        </button>
        <button nz-button nzType="default" (click)="showEditAccess(portfolio)">
          <i class="anticon anticon-key"></i>
          Edit access
        </button>

        <button nz-popconfirm nzTitle="Are you sure? Only client with no deposits/withdrawals is allowed to be removed."
                class="btn-right"
                (nzOnConfirm)="removeClient(portfolio)" nz-button>
          <i class="anticon anticon-user-delete"></i>
          Remove client
        </button>
      </div>

      <nx-portfolio-overview
        [currentPortfolio]="portfolio"
        [loading]="false"
        [fullSize]="false"
        [expandData]="true"
      >
      </nx-portfolio-overview>

    </div>

  </nz-collapse-panel>
</nz-collapse>

<nz-modal nzWrapClassName="vertical-center-modal"
          [(nzVisible)]="_isVisibleEditProfile"
          [nzTitle]="'Edit profile for ' + _selectedPortfolio?.client?.firstName + ' ' + _selectedPortfolio?.client?.lastName"
          (nzOnCancel)="_isVisibleEditProfile = false;"
          [nzFooter]="null">

  <nx-client-profile-form
    [profile]="_selectedPortfolio?.client"
    [displayRoleSelection]="true"
    (onSave)="profileSave($event)">
  </nx-client-profile-form>

</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal"
          [(nzVisible)]="_isVisibleEditAccess"
          [nzTitle]="'Edit account for ' + _selectedPortfolio?.client?.firstName + ' ' + _selectedPortfolio?.client?.lastName"
          (nzOnCancel)="_isVisibleEditAccess = false;"
          [nzFooter]="null">

  <nx-client-access-form
    [username]="_selectedPortfolio?.client?.username"
    [ignoreOldPassword]="true"
    (onSave)="accessSave($event)">
  </nx-client-access-form>

</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal"
          [(nzVisible)]="_isVisibleCreateClient"
          [nzTitle]="'Create client'"
          (nzOnCancel)="_isVisibleCreateClient = false;"
          [nzFooter]="null">

  <nx-client-profile-form
    [displayRoleSelection]="true"
    (onSave)="createClient($event)">
  </nx-client-profile-form>

</nz-modal>
