<div class="container">
<nz-row [nzGutter]="24" class="py-lg">

  <nz-col nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6">
    <nz-card nzTitle="Personal settings" [nzBodyStyle]="{padding: '0'}" class="settings-1">
      <a (click)="active=1" class="d-block py-sm px-md" [ngClass]="{'bg-selection text-white':active===1}">Profile</a>
      <a (click)="active=2" class="d-block py-sm px-md" [ngClass]="{'bg-selection text-white':active===2}">Access</a>
      <a (click)="active=4" class="d-block py-sm px-md" [ngClass]="{'bg-selection text-white':active===4}">Notifications</a>
    </nz-card>
    <nz-card nzTitle="Funds settings" [nzBodyStyle]="{padding: '0'}">
      <a (click)="active=5" class="d-block py-sm px-md" [ngClass]="{'bg-selection text-white':active===5}">Private funds</a>
    </nz-card>
  </nz-col>

  <nz-col nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18">

    <nz-card nzTitle="Client's profile" *ngIf="active===1">
      <nz-row [nzGutter]="64">
        <nz-col [nzSpan]="16">

          <nx-client-profile-form [profile]="currentProfile" (onSave)="profileSave($event)"></nx-client-profile-form>

        </nz-col>

        <nz-col [nzSpan]="8">
          <h4>Profile picture</h4>
          <div class="head-photo">
            <img
              [src]="gravatar.getGravatarUrl(currentProfile?.email, 250)" alt="user image">
          </div>
          <nz-form-explain>
            <span class="line">Set your picture via <a href="https://en.gravatar.com" target="_blank">Gravatar</a></span>
            <span class="line">Use email: {{currentProfile?.email}}</span>
          </nz-form-explain>
        </nz-col>

      </nz-row>
    </nz-card>

    <nz-card nzTitle="Change password (and/or username)" *ngIf="active===2">
      <nz-row [nzGutter]="64">
        <nz-col [nzSpan]="16">

          <nx-client-access-form [username]="currentProfile?.username" (onSave)="pwdSave($event)"></nx-client-access-form>

        </nz-col>
      </nz-row>
    </nz-card>

    <nz-card nzTitle="Notifications" *ngIf="active===4">
      <!--<p class="pb-md">Choose how you receive notifications. These notification settings apply to the repositories you’re watching.</p>
      <nz-list nzBordered>
        <nz-list-item class="d-block">
          <h4>Automatically watch repositories</h4>
          <p class="py-sm">When you’re given push access to a repository, automatically receive notifications for it.</p>
          <label nz-checkbox [ngModel]="true">Automatically watch</label>
        </nz-list-item>
        <nz-list-item class="d-block">
          <h4>Participating</h4>
          <p class="py-sm">Notifications for the conversations you are participating in, or if someone cites you with an @mention.</p>
          <label nz-checkbox [ngModel]="true">Email</label>
          <label nz-checkbox [ngModel]="true">Web</label>
        </nz-list-item>
        <nz-list-item class="d-block">
          <h4>Watching</h4>
          <p class="py-sm">Notifications for all repositories or conversations you’re watching.</p>
          <label nz-checkbox [ngModel]="true">Email</label>
          <label nz-checkbox [ngModel]="true">Web</label>
        </nz-list-item>
      </nz-list>-->
    </nz-card>



    <nz-card class="ant-card__body-nopadding" *ngIf="active===5" [nzBordered]="false">
      <div class="border rounded-md text-center p-lg bg-grey-lighter">
        <h3>No private funds configured</h3>
        <p class="py-md">Private funds are visible only to you.
          It provides ability to monitor your assets on private exchange accounts.</p>
        <button nz-button [nzType]="'primary'" [disabled]="true">
          Register a new private fund
        </button>
      </div>
    </nz-card>


  </nz-col>
</nz-row>
</div>
