<form nz-form [nzLayout]="'vertical'" autocomplete="off">
  <nz-form-item>
    <nz-form-label nzFor="access_name">Username</nz-form-label>
    <nz-form-control>
      <input id="username" style="display:none" type="text" name="fakeusernameremembered">
      <input nz-input [(ngModel)]="pwd.newUsername" name="access_name" id="access_name" autocomplete="nope">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="!ignoreOldPassword">
    <nz-form-label nzFor="old_pass">Old password</nz-form-label>
    <nz-form-control>
      <input id="password" style="display:none" type="password" name="fakepasswordremembered">
      <input nz-input [(ngModel)]="pwd.oldPassword" name="old_pass" id="old_pass" type="password"  autocomplete="off">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="new_password" nzRequired>New password</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="pwd.newPassword" name="new_pass" id="new_pass" type="password" required autocomplete="new-password">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="confirm_new_password">Confirm new password</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="pwd.newPasswordRepeat" name="confirm_new_pass" id="confirm_new_pass" type="password"
             required autocomplete="new-password">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button (click)="save()" [nzType]="'primary'">Change password</button>
    </nz-form-control>
  </nz-form-item>
</form>
