<div class="aside-inner">
  <nz-dropdown nzTrigger="click" class="user-block">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="avatar" [nzSrc]="settings.user.avatar"></nz-avatar>
      <div class="info">
        <strong>{{settings.user.name}}</strong>
        <p class="text-truncate mb0">{{settings.user.email}}</p>
      </div>
    </div>
    <ul nz-menu>
      <div nz-menu-item *ngIf="_isAuthorized" (click)="goProfile()"><i class="anticon anticon-user mr-sm"></i>{{ 'profile' | translate }}</div>
      <div nz-menu-item *ngIf="_isAuthorized" (click)="logout()"><i class="anticon anticon-logout mr-sm"></i>{{ 'logout' | translate }}</div>
      <div nz-menu-item *ngIf="!_isAuthorized" (click)="login()"><i class="anticon anticon-login mr-sm"></i>{{ 'login' | translate }}</div>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
