<p>
  <simple-table [data]="_data" [columns]="_columns" size="small" [toTopInChange]="false" [bordered]="false">

    <ng-template st-row="month" let-i>
      <span>
        {{i.month | date:'MMMM'}}</span>
    </ng-template>

    <ng-template st-row="manana" let-i>
      <span [class.profit]="i.manana > 0" [class.loss]="i.manana < 0">
        {{i.manana | number:'1.2-2'}}%</span>
    </ng-template>


    <ng-template st-row="btc" let-i>
      <span [class.profit-n]="i.btc > 0" [class.loss-n]="i.btc < 0">
        {{i.btc | number:'1.2-2'}}%</span>
    </ng-template>

    <ng-template st-row="outperform-render" let-i>
<!--      <trend [flag]="i.outperform < 0 ? 'down' : 'up'">
        <span>{{i.outperform | number:'1.2-2'}}%</span>
      </trend>-->
      <span *ngIf="i.outperform >= 0" [class.profit]="i.outperform > 0">
        {{i.outperform | number:'1.2-2'}}%</span>
    </ng-template>

  </simple-table>
</p>
