<div class="content__title">
  <h1>

    Welcome to Mañana Capital back-office system
    <small>The information below shows price per share and performance of our funds.</small>
  </h1>
</div>

<!--<page-header></page-header>-->
<div nz-row [nzGutter]="24" class="pt-lg">


  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngFor="let fund of _funds">
    <g2-card [bordered]="true" [title]="fund.displayName" [total]="'$ ' + (fund.pricePerShare.priceUsd | number:'1.2-2')"
             contentHeight="84px" [action]="action1" [footer]="footer1">

      <ng-template #action1>
        <nz-tooltip [nzTitle]="'Public fund'">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>

      <trend [flag]="fund.performance.bigBang > 0 ? 'up' : 'down'" style="margin-top:2px;">
        <div class="performance-row">
          Big bang
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.bigBang < 0"
                [class.green]="fund.performance.bigBang > 0">
          {{fund.performance.bigBang | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="fund.performance.currentYear > 0 ? 'up' : 'down'">
        <div class="performance-row">
        Year ({{_today.getUTCFullYear()}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.currentYear < 0"
                [class.green]="fund.performance.currentYear > 0">
            {{fund.performance.currentYear | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="fund.performance.currentMonth > 0 ? 'up' : 'down'">
        <div class="performance-row">
        Month ({{_today | date:'MMM'}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.currentMonth < 0"
                [class.green]="fund.performance.currentMonth > 0">
            {{fund.performance.currentMonth | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="fund.performance.today > 0 ? 'up' : 'down'">
        <div class="performance-row">
        Today ({{_today | date:'EEE'}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.today < 0"
                [class.green]="fund.performance.today > 0">
            {{fund.performance.today | number:'1.2-2'}}%
          </span>
        </div>
      </trend>


      <ng-template #footer1>
        <p class="text-truncate mb0">{{fund.description}}
          <!--<span class="ml-sm">￥12,423</span>-->
        </p>
      </ng-template>

    </g2-card>
  </div>


</div>



<!--<nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{'padding': '0 0 32px'}" class="offline-card mt-lg">
  <nz-tabset [(nzSelectedIndex)]="_activeTab" (nzSelectChange)="_tabChange($event)">
    <nz-tab *ngFor="let tab of data.offlineData; let i = index;" [nzTitle]="nzTabHeading">
      <ng-template #nzTabHeading>
        <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0;">
          <div nz-col [nzSpan]="12">
            <number-info [title]="tab.name" subTitle="转化率" gap="2" [total]="(tab.cvr * 100) + '%'" [theme]="i !== _activeTab && 'light'"></number-info>
          </div>
          <div nz-col [nzSpan]="12" style="padding-top: 36px;">
            <g2-pie [animate]="false" [color]="i !== _activeTab && '#BDE4FF'" [inner]="0.55" [tooltip]="false" [padding]="[0, 0, 0, 0]"
              [percent]="tab.cvr * 100" [height]="64">
            </g2-pie>
          </div>
        </div>
      </ng-template>
      <div class="px-lg">
        <g2-timeline [data]="tab.chart" [titleMap]="{ y1: '客流量', y2: '支付笔数' }"></g2-timeline>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-card>-->
