<div class="content__title">
  <h1>

    Welcome to Mañana Capital back-office system
    <small>The information below shows price per share and performance of our funds.</small>
  </h1>

  <div>
    <nz-dropdown  nzPlacement="bottomRight">
      <button nz-button nz-dropdown>
        <i class="anticon anticon-ellipsis"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="refreshData()">Refresh data</li>
      </ul>
    </nz-dropdown>
  </div>

</div>

<!--<page-header></page-header>-->
<div nz-row [nzGutter]="24" class="pt-lg">

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngIf="_loading">
    <nx-fund-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngIf="_loading">
    <nx-fund-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngIf="_loading">
    <nx-fund-card [bordered]="true" [loading]="true" contentHeight="84px" >
    </nx-fund-card>
  </div>


  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" *ngFor="let fund of _funds">
    <nx-fund-card [bordered]="true" [title]="fund.displayName"
                  [total]="'$ ' + (fund.pricePerShare.priceUsd | number:'1.2-2')"
                  [totalSecondary]="(fund.pricePerShare.priceCzk | number:'1.2-2') + ' Kč'"
                  contentHeight="84px" [action]="action1" [footer]="footer1"
                  [isSelected]="_selectedFund == fund" (click)="selectFund(fund)"
    >

      <ng-template #action1>
        <nz-tooltip [nzTitle]="fund.description">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>

      <trend [flag]="getFlagName(fund.performance.bigBang)" style="margin-top:2px;">
        <div class="performance-row">
          Big bang
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.bigBang < 0"
                [class.green]="fund.performance.bigBang > 0">
          {{fund.performance.bigBang | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="getFlagName(fund.performance.currentYear)">
        <div class="performance-row">
        Year ({{_today.getUTCFullYear()}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.currentYear < 0"
                [class.green]="fund.performance.currentYear > 0">
            {{fund.performance.currentYear | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="getFlagName(fund.performance.currentMonth)">
        <div class="performance-row">
        Month ({{_today | date:'MMM'}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.currentMonth < 0"
                [class.green]="fund.performance.currentMonth > 0">
            {{fund.performance.currentMonth | number:'1.2-2'}}%
          </span>
        </div>
      </trend>

      <trend [flag]="getFlagName(fund.performance.today)">
        <div class="performance-row">
        Today ({{_today | date:'EEE'}})
          <span class="pl-sm performance-number"
                [class.red]="fund.performance.today < 0"
                [class.green]="fund.performance.today > 0">
            {{fund.performance.today | number:'1.2-2'}}%
          </span>
        </div>
      </trend>


      <ng-template #footer1>

      </ng-template>

    </nx-fund-card>
  </div>


</div>

<nz-card [nzLoading]="_loading" [nzBordered]="true" [nzBodyStyle]="{'padding': '10px 30px 10px 0'}" class="mt-lg">
  <div class="chart">

    <ngx-charts-line-chart
      [scheme]="_colorScheme"
      [results]="_chartData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      yAxisLabel="Price (USD)"
      [autoScale]="true"
      [timeline]="true"
    >
    </ngx-charts-line-chart>

  </div>
</nz-card>
