<form nz-form (ngSubmit)="submitForm()">
  <nz-alert class="pb-lg" [nzMessage]="state.transactionName + ' preview, check amount values and continue'"
            [nzShowIcon]="true" [nzCloseable]="true"></nz-alert>

  <div class="extra mt-md">

  <nz-form-item>
    <nz-form-label nzSpan="7">Target fund</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>{{_targetFundName}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="state.transactionType === 'transfer'">

    <nz-form-item>
      <nz-form-label nzSpan="7">From client</nz-form-label>
      <nz-form-control nzSpan="17">
        <nz-form-text>{{_fromClientName}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="7">To client</nz-form-label>
      <nz-form-control nzSpan="17">
        <nz-form-text>{{_toClientName}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>

  </div>


  <div *ngIf="state.transactionType !== 'transfer'">

      <nz-form-item>
        <nz-form-label nzSpan="7">For client</nz-form-label>
        <nz-form-control nzSpan="17">
          <nz-form-text>{{_clientName}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>

  </div>

  <nz-form-item>
    <nz-form-label nzSpan="7">For date</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>{{data.created | date:'medium'}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="7">Shares</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>
        <strong>{{data.shares | number:'1.2-2'}}</strong>
      </nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="7">Amount USD</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>
        <strong>{{data.amountUsd | number:'1.2-2'}}</strong>
      </nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="7">Amount BTC</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>
        {{data.amountBtc | number:'1.2-8'}}
      </nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="7">Amount CZK</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text>
        {{data.amountCzk | number:'1.2-2'}}
      </nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="7">Note</nz-form-label>
    <nz-form-control nzSpan="17">
      <nz-form-text style="white-space: pre-wrap; line-height: 20px">{{data.note}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="19" [nzOffset]="5">
      <button nz-button [nzType]="'primary'" [nzLoading]="isProcessing">{{state.transactionName}}</button>
      <button nz-button (click)="goBack()">Back</button>
    </nz-form-control>
  </nz-form-item>

  </div>

</form>

