<nz-card [nzBordered]="false" [nzLoading]="loading" >
  <div nz-row>

    <div nz-col [nzXs]="18" [nzSm]="6">

<!--      <span class="text-grey-dark">Total Assets</span>
      <span class="d-block display-2 strong"
            nz-tooltip [nzTitle]="(currentPortfolio?.totalAssetsCzk | number:'1.0-0') + ' Kč'" nzPlacement="bottom"
      >$ {{currentPortfolio?.totalAssetsUsd | number:'1.0-0'}}</span>
      <em></em>-->

      <nz-statistic
        [nzValue]="'$ ' + (currentPortfolio?.totalAssetsUsd | number: '1.0-0')"
        [nzTitle]="'Total Assets'">
      </nz-statistic>

    </div>

    <div nz-col [nzXs]="18" [nzSm]="6" class="header-info" >
      <!--<div>
        <span class="text-grey-dark">Total Profit</span>
        <span class="d-block display-2"
              [class.red]="currentPortfolio?.totalProfitUsd < 0"
              [class.green]="currentPortfolio?.totalProfitUsd > 0"
              nz-tooltip [nzTitle]="(currentPortfolio?.totalProfitCzk | number:'1.0-0') + ' Kč'" nzPlacement="bottom"
        >
          $ {{currentPortfolio?.totalProfitUsd | number:'1.2-2'}}
        </span>
      </div>
      <em></em>-->

      <nz-statistic
        [nzValue]="currentPortfolio?.totalProfitUsd | number: '1.2-2'"
        [nzTitle]="'Total Profit'"
        [nzPrefix]="'$ '"
        [nzValueStyle]="{ color: currentPortfolio?.totalProfitUsd < 0 ? '#a8071a' : '#237804' }"
      >
      </nz-statistic>

    </div>

  </div>
</nz-card>


<nz-tabset nzTabPosition="top" [nzType]="'line'" [nzShowPagination]="false" [class.large]="fullSize">
  <nz-tab *ngFor="let info of currentPortfolio?.activeFundsInfo" [nzTitle]="info.fund.displayName">
    <nx-portfolio-fund [fund]="info"></nx-portfolio-fund>
  </nz-tab>
</nz-tabset>


