<form nz-form>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="key" [nzSpan]="6">Key</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input [(ngModel)]="_fund.key" name="key" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="displayName" [nzSpan]="6">Display name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input [(ngModel)]="_fund.displayName" name="displayName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="description" [nzSpan]="6">Description</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea
        nz-input
        name="description"
        placeholder="Write description of the fund, will be displayed as info tooltip"
        [(ngModel)]="_fund.description"
        [nzAutosize]="{ minRows: 1, maxRows: 4 }"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox [(ngModel)]="_fund.isPublic" name="isPublic">
        Public
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox [(ngModel)]="_fund.isDisabled" name="isDisabled">
        Disabled
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox [(ngModel)]="_fund.isHidden" name="isHidden">
        Hidden
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox [(ngModel)]="_fund.isUnderConstruction" name="isUnderConstruction">
        Under construction
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="owner" [nzSpan]="6">Owner</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select [(ngModel)]="_fund.owner" name="owner">
        <nz-option *ngFor="let client of clients"
                   [nzLabel]="getClientDisplay(client)"
                   [nzValue]="client.fundClientId">
        </nz-option>
      </nz-select>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="ordering" [nzSpan]="6">Ordering</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-input-number [(ngModel)]="_fund.ordering"
        name="ordering" style="width:100%"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

<!--  <nz-form-item>
    <nz-form-label [nzSpan]="5">Warning</nz-form-label>
    <nz-form-control [nzSpan]="12" nzValidateStatus="warning" nzHasFeedback>
      <input nz-input [ngModel]="'Warning'" name="warningHighValid" />
      <nz-form-explain>Should be combination of numbers & alphabets</nz-form-explain>
    </nz-form-control>
  </nz-form-item>-->

  <nz-form-item>
    <nz-form-control>
      <button nz-button (click)="save()" [nzType]="'primary'">Save fund</button>
    </nz-form-control>
  </nz-form-item>

</form>
